.nav-bar {
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(circle at 74.2% 50.9%, rgb(14, 72, 222) 5.2%, rgb(3, 22, 65) 75.3%);
    position: sticky;
    top: 0;
    z-index: 100;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.burger-menu .menu-icon {
    width: 45px;
    height: 45px;
    color: white;
}